.about-us__container {
  margin-bottom: 99px;
}
.about-us__heading {
  margin-bottom: 21px;
}
.about-us__descriptione {
  margin-bottom: 48px;
  max-width: 1229px;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-333333);
}
.row {
  gap: 32px;
}
.col-2 {
  align-items: flex-end;
}
.about-us__card-left__border {
  align-self: flex-end;
  align-items: center;
  padding: 50px;
  min-width: 100%;
  min-height: 196px;
  background-color: rgba(0, 0, 0, 0.5);
  transition-property: border, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.about-us__card-left {
  min-width: 868px;
  max-height: 622px;
  background-image: url("../../img/section2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-us__card-left__description {
  max-width: 454px;
  letter-spacing: 0.4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-ffffff);
}
.about-us__card-left__btn {
  padding: 17px 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--color-ffffff);
  border: 3px solid var(--color-ff9900);
}
.about-us__card-right__border {
  padding: 62px 150px 65px 296px;
  background: var(--color-ffffff);
  border: 1px solid #cacaca;
  background-repeat: no-repeat;
  background-position: 56px 61px;
}
.about-us__card-right__border:not(:last-child) {
  margin-bottom: 32px;
}
.about-us__card-right__border:nth-child(1) {
  background-image: url("../../img/squareorange.svg");
}

.about-us__card-right__border:nth-child(2) {
  background-image: url("../../img/circleorange.svg");
}
.about-us__card-right__heading {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: var(--color-333333);
}
.about-us__card-right__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: var(--color-333333);
}
.about-us__card-left__btn:hover {
  background-color: var(--color-ff9900);
}
.about-us__card-left__btn:focus {
  background-color: var(--color-ff9900);
}
.about-us__card-left__btn:active {
  background-color: var(--color-e1670e);
  border: var(--color-e1670e);
}
