.design-solutions__container {
  padding: 100px 80px;
  background-image: url("../../img/slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.design-solutions__descr-container {
  max-width: 855px;
  transition: background-color 0.1s ease;
}
.design-solutions__heading {
  margin-bottom: 25px;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-ffffff);
}
.design-solutions__description {
  margin-bottom: 90px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-ffffff);
}
.design-solutions__btn {
  padding: 24px 38px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  background-color: var(--color-ff9900);
}
.design-solutions {
  margin-bottom: 100px;
}
.design-solutions__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
}
.design-solutions__btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
}
.design-solutions__btn:active {
  background-color: var(--color-e1670e);
}
