.faq__container {
  margin-bottom: 99px;
}
.faq__heaging {
  margin-bottom: 42px;
}

.faq__list__item {
  background-image: url("../../img/circlegrey.svg");
  background-repeat: no-repeat;
  background-position: right center;
  transition-property: border-bottom, color, border-top fill;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.descr:nth-child(2) {
  border-top: none;
}
.descr:nth-child(3) {
  border-top: none;
}
.descr:nth-child(4) {
  border-top: none;
}
.descr:nth-child(5) {
  border-top: none;
}
.faq__list__item .faq__img-cross:hover path {
  fill: var(--color-ffffff);
}
.faq__img-cross:focus path {
  fill: var(--color-ffffff);
}
.faq__list__item .faq__img-cross:hover ellipse {
  fill: var(--color-ff9900);
}
.faq__img-cross:focus ellipse {
  fill: var(--color-ff9900);
}
.faq__img-cross:active ellipse {
  fill: var(--color-ECECEC);
}
.descr:hover {
  border-bottom: 1px solid var(--color-ff9900);
  border-top: 1px solid var(--color-ff9900);
}
.descr:focus {
  border-bottom: 1px solid var(--color-ff9900);
  border-top: 1px solid var(--color-ff9900);
}
.descr:active {
  border-bottom: 1px solid var(--color-CACACA);
  border-top: 1px solid var(--color-CACACA);
}
.faq__lebel:hover {
  color: var(--color-ff9900);
}
.faq__lebel:focus {
  color: var(--color-ff9900);
}
