.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.2px;
  color: var(--color-333333);
}
.descr {
  padding: 38px 0;
  border-bottom: 1px solid var(--color-CACACA);
  border-top: 1px solid var(--color-CACACA);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.6px;
  color: var(--color-333333);
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.row {
  display: flex;
  gap: 15px;
}
.col-2 {
  flex-basis: 50%;
}
