.header {
  max-height: 100px;
  padding: 14px 0;
  background-color: var(--color-ffffff);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.flex {
  align-items: center;
}
.header__list-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: var(--color-333333);
  transition-property: border-bottom, border, color;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}

.header__list-item:not(:last-child) {
  margin-right: 85px;
}
.header__list-item__link:hover {
  border-bottom: 2px solid var(--color-ff9900);
}
.header__list-item__link:focus {
  padding: 5px;
  border: 2px solid var(--color-ff9900);
}
.header__list-item__link:active {
  color: var(--color-nav-active);
  border-bottom: 2px solid var(--color-e1670e);
}
.header__search-btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  background-image: url("../../img/searchorange.svg");
  background-repeat: no-repeat;
  transition: background-image 0.2s ease;
}

.header__search-btn:hover {
  background-image: url("../../img/search.svg");
}

.header__search-btn:focus {
  outline: 2px solid var(--color-btn);
}
