.header {
  max-height: 100px;
  padding: 14px 0;
  background-color: var(--color-ffffff);
  box-shadow: 0px 5px 40px rgba(253, 198, 198, 0.1);
}
.header__burger {
  display: none;
}
.header__list-item {
  margin-right: 85px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: var(--color-333333);
  transition-property: border-bottom, border, color;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}
.header__list-item__link:hover {
  border-bottom: 2px solid var(--color-ff9900);
}
.header__list-item__link:focus {
  padding: 5px;
  border: 2px solid var(--color-ff9900);
}
.header__list-item__link:active {
  color: var(--color-nav-active);
  border-bottom: 2px solid var(--color-e1670e);
}
.header__search-btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  background-image: url("../../img/search.svg");
  background-repeat: no-repeat;
  transition: background-image 0.2s ease;
}

.header__search-btn:hover {
  background-image: url("../../img/searchorange.svg");
}

.header__search-btn:focus {
  outline: 2px solid var(--color-btn);
}
@media (max-width: 1200px) {
  .header__list-item {
    margin-right: 40px;
  }
}
@media (max-width: 1024px) {
  .header__nav-container {
    display: none;
  }
  .header__logo-link__ing {
    max-width: 150px;
  }
  .header__burger {
    display: inline;
  }
  .header-container {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .header__logo-link__ing {
    max-width: 150px;
  }
}
@media (max-width: 480px) {
  .header__logo-link__ing {
    max-width: 110px;
  }
}
